* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 54%, 90%);
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 2;
  margin-top: 7rem;
  margin-bottom: 4rem;
}

@font-face {
  font-family: "Young";
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/static/Outfit-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/static/Outfit-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

h1 {
  color: hsl(24, 5%, 18%);
}

h1,
h2 {
  font-family: "Young", sans-serif;
  font-size: 1.8rem;
}

h2 {
  color: hsl(14, 45%, 36%);
}

h3,
li::marker {
  color: hsl(332, 51%, 32%);
}

h3 {
  margin-left: 0.4rem;
  font-size: 1.3rem;
}

p,
li,
td {
  color: hsl(30, 10%, 34%);
}

p {
  font-size: 1rem;
  margin-bottom: 1.8rem;
}

ul li,
ol li {
  padding-left: 1rem;
}

span {
  font-weight: bold;
  color: hsl(30, 10%, 34%);
}

th,
td {
  padding: 0.6rem;
  text-align: left;
}

th {
  color: hsl(14, 45%, 36%);
}

li::marker {
  font-family: "Outfit";
  font-weight: bold;
}

.card {
  background-color: hsl(0, 0%, 100%);
  padding: 2.2rem;
  margin: auto;
  max-width: 44rem;
  border-radius: 1.4rem;
}

.omelette {
  display: block;
  max-width: 100%;
  border-radius: 0.9rem;
}

.title {
  margin-top: 1.2rem;
  margin-bottom: 0.2rem;
  font-size: 2.4rem;
}

.description {
  line-height: 1.6;
}

.preparation-section {
  font-family: "Outfit", sans-serif;
  background-color: hsl(330, 100%, 98%);
  border-radius: 8px;
  background: hsl(330, 100%, 98%);
  padding: 1.2rem;
  border-radius: 0.6rem;
}

.preparation-list {
  padding-left: 2rem;
  padding-right: 2rem;
}

.ingredients-section,
.instructions-section {
  margin-top: 1.6rem;
}

.ingredients-list,
.instructions-list {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.nutrition-section {
  margin-top: 1.6rem;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table-content {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.attribution {
  font-size: 15px;
  text-align: center;
  padding: 0.8rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  body {
    margin: 0;
  }

  .card,
  .title,
  .description,
  .preparation-section,
  .preparation-list,
  .ingredients-section,
  .ingredients-list,
  .instructions-section,
  .instructions-list,
  .nutrition-section,
  .table,
  .table-content {
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }

  .card {
    border-radius: 0px;
    padding: 0;
  }

  .omelette {
    border-radius: 0;
  }

  .title {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 1.2rem;
  }

  .description {
    font-size: 0.92rem;
  }

  ul.ingredients-list {
    padding-right: 0;
  }

  ol.instructions-list {
    padding-right: 0.5rem;
    line-height: 1.4;
  }

  li {
    margin-bottom: 0.3rem;
  }

  p {
    font-size: 0.99rem;
    line-height: 1.4;
  }

  td,
  th {
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
  }

  .nutrition-section {
    margin-bottom: 2rem;
  }
}
